name: Deploy Portfolio

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Update and Restart
        run: |
          # 1. Load the Environment (Teach the robot where tools are)
          export PATH="/home/mac/.local/share/fnm:$PATH"
          eval "`fnm env`"

          # 2. Go to the PROD folder
          cd /home/mac/portfolio

          # 3. Pull latest code
          git pull origin main

          # 4. Install & Build (Now it will find pnpm!)
          pnpm install --frozen-lockfile
          pnpm build

          # 5. Restart
          pm2 restart portfolio
